*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;

}
a{
    text-decoration: none;
    color: var(--text-f3f3f3-color);
  
}

body{
    /* background: #e7e7e7; */
    /* background-image: url(/fashion/file/img/1-0000.jpg);
    background-size: contain;
    background-attachment: fixed; */
}
:root{
    --background-color:#e7e7e7;
    --text-white-color:#fff;
    --text-f3f3f3-color:#555;
    --text-black-color:#333;
}
@keyframes scale {
    form{
        transform:scale(1);
        box-shadow: 0px 0px 0px;
    }
    to{
        transform:scale(1.15);
        box-shadow: 0px 0px 20px;
    }
}
@keyframes list {
    0%{left: -40px; opacity: 0;}
    100%{left: 0;opacity: 1;}
}
.header{
    /* height: 120px; */
    width: 100%;
    /* background:springgreen; */
}

.header__hotline{
    height: 50px;
    width: 100%;
    background:#333;
    display: flex;
    justify-content: space-between;
}

.header__hotline-shop{
    color: var(--text-white-color);
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
}
.header__hotline i{
    margin-right: 10px;
}

.header__list{
    height: 80px;
    width: 100%;
    /* background:skyblue; */
    background:#f3f3f3;

    display: flex;
    justify-content: space-between;
    /* position: fixed;
    z-index: 999; */
}
.header__list__logo{
    height: 100%;
    width: 100px;
    /* background:springgreen; */
    line-height: 80px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    font-size: 25px;
    margin-left: 30px;
    background-image: url(/img/LOGO-HL.png);
    background-repeat: no-repeat;
    margin: auto;
    margin-left: 40px;
    background-size:200px;
    background-position: center;
    
}
.header__list__item{
    height: 100%;
    display: flex;
    margin-right: 30px;
    

}
.header__list__item-item{
    height: 100%;
    /* background:springgreen; */
    text-align: right;
    margin-left: 25px;
    text-transform: uppercase;
    color: var(--text-f3f3f3-color);
    font-weight: 600;
    font-size: 13.5px;
    line-height: 80px;
    display: flex;
    
   
    
    /* animation: list 1.5s ease-in-out; */
}
/* .header__list__item-item:nth-last-child(8){
    animation: list 1.5s ease-in-out 0.25s 
}
.header__list__item-item:nth-last-child(7){
    animation: list 1.5s ease-in-out 0.5s 
}
.header__list__item-item:nth-last-child(6){
    animation: list 1.5s ease-in-out 0.75s ;
}
.header__list__item-item:nth-last-child(5){
    animation: list 1.5s ease-in-out 1s 
}
.header__list__item-item:nth-last-child(4){
    animation: list 1.5s ease-in-out 1.25s
}
.header__list__item-item:nth-last-child(3){
    animation: list 1.5s ease-in-out 1.5s 
}
.header__list__item-item:nth-last-child(2){
    animation: list 1.5s ease-in-out 1.75s
}
.header__list__item-item:nth-last-child(1){
    animation: list 1.5s ease-in-out 2s 
} */
.header__list__item-item i{
    margin-right: 5px;
    font-size:20px;
    line-height: 80px;
}
/* .header__list__item-item a:hover{
    color: #333;

} */

/* products */

.header__list__item-item-products a{
    display: flex
}
.header__list__item-item-products a i{
    margin-left: 5px;
    line-height: 22.5px;
    font-size: 12px;
    color:#777;
}
.header__list__item-item-products-list{
    width: 180px;
    position: absolute;
    top:130px;
    display: none;
    box-shadow: -2px 1px 4px #999;
    animation: products 0.5s ease forwards;
    z-index: 1;
}
.header__list__item-item-products-list::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 180px;
    left: 0px;
    top:-30px;
    /* background:springgreen; */
}
.header__list__item-item-products-list-item{
    height: 40px;
    width: calc(100% - 20px);
    background:#f3f3f3;
    text-align: left;
    line-height: 40px;
    padding-left: 20px;
    display: flex;
    font-size: 13px;


    
}
.header__list__item-item-products-list-item p{
    line-height: 40px;
}
.header__list__item-item-products-list-item i{
    color: var(--text-f3f3f3-color);
    text-align: left;
    /* padding-left: 20px; */
    line-height: 40px;
    font-size: 12px;
    margin: auto;
    
}
.header__list__item-item-products-list-item:hover{
    background: #e7e7e7;
}


@keyframes products {
    0%{top:500px; opacity: 0;}
    100%{ opacity: 1;}
}
@keyframes products-list-list {
    0%{top:200px; opacity: 0;}
    100%{ opacity: 1;}
}
.header__list__item-item-products:hover .header__list__item-item-products-list{
    display: block;

}

.header__list__item-item-products-list-list{
    width: 180px;
    position: absolute;
    box-shadow: -2px 1px 4px #999;
    left: 160px;
    top:0px;
    background: #f3f3f3;
    display: none;
    animation: products-list-list 0.5s ease forwards;
    z-index: 1;
    font-size: 13px;

}


.header__list__item-item a {
    display: flex;
}
.header__list__item-item a i{
    font-size: 20px;
}
.header__list__item-item-products-list-list-item{
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding-left: 20px;
}
.header__list__item-item-products-list-list-item:hover{
    background: #faae9a;
}

.header__list__item-item-products-list-item-dress:hover .header__list__item-item-products-list-list{
    display: block;
}
.header__list__item-item-products-list-item-shirt:hover .header__list__item-item-products-list-list{
    display: block;
    top:40px;
}
.header__list__item-item-products-list-item-trousers:hover .header__list__item-item-products-list-list{
    display: block;
    top:200px;
}
.header__list__item-item-products-list-item-skirt:hover .header__list__item-item-products-list-list{
    display: block;
    top:240px;
}
.header__list__item-item-products-list-item-coat:hover .header__list__item-item-products-list-list{
    display: block;
    top:320px;
   
}
.header__list__item-item-products-list-item-accsessory:hover .header__list__item-item-products-list-list{
    display: block;
    top:440px
}
/* sale */

.header__list__item-item-sale a{
    display: flex;
}
.header__list__item-item-sale a i{
    margin-left: 5px;
    font-size: 14px;
}
.header__list__item-item-sale:hover .header__list__item-item-products-list{
    display: block;
}



@keyframes search {
    0%{top:150px;opacity: 0;}
    100%{top:120px;opacity: 1;}
}
.header__list__item-item-search{
    padding-right: 15px;
    border-right: 1px solid var(--text-f3f3f3-color);
}
.header__list__item-item-search-list{
    height: 40px;
    /* background-color: tomato; */
    position: absolute;
    top:200px;
    z-index: 3;
    display: flex;
    display: none;
    animation: search ease-in-out 0.5s forwards; 
    

}
.header__list__item-item-search-list::before{
    height: 20px;
    width: 230px;
    content: '';
    background-color:none;
    position: absolute;
    z-index: 3;
    left: -20px;
    top:-20px;
    
}
.header__list__item-item-search:hover .header__list__item-item-search-list{
    display: block;
}
.header__list__item-item-search-list-input{
   height: 100%;
   width: 185px;
   position: relative;
   top:-22.5px;
   left: -20px;
   padding-left: 10px;
   text-transform:capitalize;
   border: none;
   outline: none;

}
.header__list__item-item-search-list-icon{
    height: 40px;
    width:45px;
    background-color:var(--text-f3f3f3-color);
    display: flex;
    position: relative;
    top:-81.75px;
    left: 162.5px;
}
.header__list__item-item-search-list-icon i{
    line-height: 35px;
    margin: auto;
    font-size: 1px;
    color: var(--text-white-color);
}
.header__list__item-item-search-list-icon .i{
    font-size: 15px;
}
.header__list__item{
    display: flex;
    
}
.header__list__item-item {
    height: 20px;
    display: flex;
    text-align: center;
    margin: auto;
    padding-left: 25px;

}
.header__list__item-item  i{
    line-height: 20px;
}
.header__list__item-item a{
 /* background-color: var(--background-color); */
    line-height: 20px;
    color: #333;
    
    
}




.header__list__item-item-account-list{
    position: absolute;
    width: 180px;
    z-index: 3;
    top:118px;
    left: 1125px;
    display: none;
    animation: account 0.5s ease-in-out forwards;
}
.header__list__item-item-account-list::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 180px;
    background-color:none;
    left: 0px;
    top:-20px;
  
}

.header__list__item-item-account-list-item{
    height: 45px;
    width: 100%;
    background-color:#f3f3f3;
    line-height: 45px;
    padding-left: 20px;
    text-align: left;
    font-size: 13px;
  
}
.header__list__item-item-account-list-item:hover{
    background-color: var(--background-color);
}
@keyframes account {
    0%{ opacity: 0;top:200px}
    100%{opacity: 1;}
}
.header__list__item-item-account:hover .header__list__item-item-account-list{
    display: block;
}




.container__text{
    height: 50px;
    width: 100%;
    display: flex;
    height: 50px;
    width: 100%;
    /* background:springgreen; */
    
}
.container__text p{
    line-height: 50px;
    padding-left: 20px;
    font-size: 15px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    
}



.container__top{
    display: flex;
}
.container__top-text{
    width: calc(75% - 60px);
    margin: 0 30px;
}
.container__top-img{
    width: 25%;
    /* background-color: springgreen */
}

.container__top-text-h1{
    height: 20px;
    width: 100%;
    /* background-color: aquamarine; */
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
    font-weight: 600;
}
.container__top-text-day{
    height: 20px;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #e7e7e7;
}
.container__top-text-one{
    font-weight: 600;
}
.container__top-text-content{
    padding: 0 10px;
    padding-top: 25px;
    font-weight: 400;
    padding-left: 20px;
}
.container__top-text-go{
    padding: 20px 0px;
    padding-left: 20px;
    font-weight: 400;
}
.container__top-text-p{
    padding: 15px 0px;
}

.container__top-text-img{
    height: 1000px;
    width: 670px;
    background-image: url(/img/blog1.jpg);
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.container__top-text-img2{
    background-image: url(/img/blog2.jpg);
}
.container__top-text-img3{
    background-image: url(/img/blog3.jpg);
}
.container__top-text-img4{
    background-image: url(/img/blog4.jpg);
}
.container__top-text-img5{
    background-image: url(/img/blog5.jpg);
}
.container__top-text-img6{
    background-image: url(/img/blog6.jpg);
}
.container__top-text-img7{
    background-image: url(/img/blog7.jpg);
}
.container__top-text-img8{
    background-image: url(/img/blog8.jpg);
}
.container__top-text-img9{
    background-image: url(/img/blog9.jpg);
}



.container__top-img-group{
    margin-top: 100px;
}
.container__top-img-group-item{
    height: 270px;
    width: 90%;
    /* background:skyblue; */
    margin: auto;
    margin-bottom: 30px;
}

.container__top-img-group-item-h1{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
.container__top-img-group-item-img{
    height: 170px;
    width: 100%;
    background-image: url(/img/blog_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container__top-img-group-item-p{
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;

}

.container__top-img-group-item-img2{
    background-image: url(/img/blog_2.jpg);
}
.container__top-img-group-item-img3{
    background-image: url(/img/blog_3.jpg);
}


.container__blog{
    height: 400px;
    width: 100%;
    /* background:springgreen; */
    /* padding-bottom: 80px; */
    margin: 100px 0px;
    margin-bottom: 0px;
}
.container__blog-h1{
    width: 50%;
    /* background: red; */
    text-align: center;
    padding:30px 0;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-black-color);
    margin: auto;
}
.container__blog-h1-p{
font-size: 30px;
}
.container__blog-h1 p{
    font-size: 16px;
    padding-top: 5px;
}


.container__blog-group{
    height: 355px;
    width: calc(100% - 40px);
    /* background:violet; */
    margin: auto;
    display: flex;
}
.container__blog-group-list{
    height: 100%;
    width: 430px;
    /* background:yellow; */
    margin:auto

}

.container__blog-group-list-hover{
    height: 70%;
    width: 100%;
    overflow: hidden;
}
.container__blog-group-list-img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/blog_1.jpg);
    transition: all 0.3s ease-in;
}
.container__blog-group-list-text{
    height: 30%;
    width: 100%;
    background:var(--text-white-color);
    text-align: center;
    display: flex;
}

.container__blog-group-list-text p{
    padding: 20px;
    font-weight: 600;
    color: var(--text-black-color);

}
.container__blog-group-list-text a{
    color: var(--text-black-color);
}

.container__blog-group-list-img2{
    background-image:url(/img/blog_2.jpg);
    
}
.container__blog-group-list-img3{
    background-image:url(/img/blog_3.jpg);
    
}

.container__blog-group-list-img:hover{
    transform: scale(1.05);


}





/* footer */

.footer{
    height: 650px;
    width: 100%;
    background:#333;
}

.footer__top{
    height: 50%;
    width: 100%;
    background:#e7e7e7;
}
.footer__top-h1{
    padding-top: 40px;
    /* background:red; */
    padding-bottom: 30px;
}
.footer__top-h1-p{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    width: 50%;
  
}
.footer__top-h1 p{
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding-top: 5px;
    font-weight: 600;
    font-size: 14px;
    width: 50%;
}



.footer__top-input{
    /* height: 40px; */
    width:600px;
    background:var(--text-white-color);
    margin: auto;
    display: flex;
    /* margin-top: 50px; */
}
.footer__top-input input{
    outline: none;
    width: 75%;
    border-right: none;
    outline: none;
    border: none;
    padding: 10px;
}

.footer__top-input input:nth-last-child(1){
    width: 25%;
    text-transform: uppercase;
    border: none;
    height: 100%;
    margin: auto;
    font-weight: 600;
    color: var(--text-white-color);
    background:var(--text-black-color);
}


.footer__top-hotline{
    /* background:violet; */
    height: 50px;
    width: 120px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

.footer__top-hotline-item{
    height: 35px;
    width: 35px;
    /* background:red; */
    border-radius: 50%;
    margin: auto;
    display: flex;
}

.footer__top-hotline-item i{
    margin: auto;
    font-size:28px;
    color: var(--text-black-color);
}




.footer__tops{
    height: 42.5%;
    width: 100%;
    /* background:#555; */
    display: flex;

}
.footer__tops-group{
    height: 85%;
    width: 35%;
    /* background:springgreen; */
    margin: auto;
    text-align: left;
    padding-left: 20px;
    line-height: 25px;
}
.footer__tops-group-h1{

    color: var(--text-white-color);
}

.footer__tops-group p{

    padding-top: 10px;
    /* font-size: 14px; */
    color: var(--text-white-color);
}




/* tops__group2 */


.footer__tops-group2{
    height: 85%;
    width: 15%;
    /* background:violet; */
    margin: auto;
}

.footer__tops-group2 p{

    text-align: left;
    /* font-size: 14px; */
    color: var(--text-white-color);
    margin-bottom: 16px;
}

/* tops__group3 */


.footer__tops-group3{
    height: 85%;
    width: 20%;
    /* background:violet; */
    margin: auto;
}

.footer__tops-group3 p{

    text-align: left;
    /* font-size: 14px; */
    color: var(--text-white-color);
    margin-bottom: 16px;

}


.footer__tops-group4{
    height: 85%;
    width: 15%;
    /* background:violet; */
    margin: auto;
}

.footer__tops-group4 p{
   
    text-align: left;
    /* font-size: 14px; */
    color: var(--text-white-color);
    margin-bottom: 16px;
}


.footer__top-group4-img2{
    height: 45px;
    width: 120px;
    background-size: cover;
    margin-top: 10px;
}




.footer__topss{
   height: 7.5%;
   width: 100%;
    background:var(--text-white-color);
}
.footer__topss p{
    line-height: 48.75px;
    color: var(--text-black-color);

    padding-left: 20px;
    font-size: 14px;
}
